.main {
  padding: 8px 0 80px;
}

.main.paddingTop {
  padding-top: 118px;
}

@media (min-width: 768px) {
  .main {
    padding: 16px 0 100px;
  }

  .main.paddingTop {
    padding-top: 134px;
  }
}

@media (min-width: 1440px) {
  .main {
    padding: 20px 0 120px;
  }

  .main.paddingTop {
    padding-top: 150px;
  }
}