.main {
  padding-top: 8px;
}

.main.paddingTop {
  padding-top: 118px;
}

@media (min-width: 768px) {
  .main {
    padding-top: 16px;
  }

  .main.paddingTop {
    padding-top: 134px;
  }
}

@media (min-width: 1440px) {
  .main {
    padding-top: 20px;
  }

  .main.paddingTop {
    padding-top: 150px;
  }
}