.userInfo {
  border-radius: 30px;
  border: 1px solid var(--color-border-icons-light);
  padding: 30px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logOut {
  width: 100%;
  background: var(--color-black, #050505);
  padding: 14px 0;
  color: var(--color-white, #ffffff);
  font-size: var(--font-size-body-mobile);
  font-weight: var(--font-weight-headlines);
  margin-top: 20px;
  margin-bottom: 64px;
}

.avatarContainer {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 16px;
}

.plusButton {
  position: absolute;
  bottom: 4px;
  right: 25px;
  width: 28px;
  height: 28px;
  background-color: var(--color-black);
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.fileInput {
  display: none;
}

.name {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 16px;
}

.statLabel {
  color: var(--color-body-text-light);
  font-size: 12px;
  margin-right: 8px;
}

.statValue {
  color: var(--color-light-black);
  font-size: var(--font-size-body-mobile);
  font-weight: var(--font-weight-headlines);
}

@media screen and (min-width: 768px) {
  .userInfo {
    padding: 40px 60px;
  }

  .avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }

  .plusButton {
    width: 38px;
    height: 38px;
    right: 40px;
  }

  .name {
    font-size: var(--font-size-h3-tablet);
    margin-bottom: 20px;
  }

  .statLabel {
    font-size: var(--font-size-body-mobile);
  }

  .statValue {
    font-size: var(--font-size-body-tablet);
  }

  .logOut {
    padding: 16px 0;
    margin-bottom: 80px;
    font-size: var(--font-size-body-tablet);
  }
}
