.categoriesSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  margin-top: 32px;

  @media (min-width: 768px) {
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}