.categoriesSection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "title"
    "subtitle"
    "grid"
    "button";

  gap: 16px;
  margin-bottom: 32px;
  margin-top: 32px;

  @media (min-width: 768px) {
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.title {
  color: var(--color-black, #050505);
  font-size: var(--font-size-h1-mobile, 28px);
  font-weight: var(--font-weight-headlines, 800);
  line-height: var(--line-height-h1-mobile, 1.14);
  letter-spacing: -0.56px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: var(--font-size-h1-tablet, 40px);
    line-height: var(--line-height-h1-tablet, 1.1);
    letter-spacing: var(--letter-spacing-body, -0.02em);
  }
}

.subtitle {
  color: var(--color-body-text, rgba(5, 5, 5, 0.8));
  font-size: var(--font-size-body-mobile, 14px);
  font-weight: var(--font-weight-body, 500);
  line-height: var(--line-height-body-tablet, 1.43);
  letter-spacing: -0.28px;

  @media (min-width: 768px) {
    width: 531px;
    font-size: var(--font-size-body-tablet, 16px);
    line-height: var(--line-height-h3-mobile, 1.5);
    letter-spacing: -0.32px;
  }
}

.categoriesGridWrapper {
  position: relative;
  grid-area: grid;
}

.categoriesGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "card0"
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7"
    "card8"
    "button";
  gap: 16px;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "card0 card1"
      "card2 card2"
      "card3 card4"
      "card5 card6"
      "card7 card7"
      "card8 card9"
      "card10 .";
    gap: 24px;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.categoriesGridItem:nth-child(n + 9) {
  display: none;
}

@media (min-width: 768px) {
  .categoriesGridItem:nth-child(-n + 11) {
    display: block;
  }

  @media (min-width: 1440px) {
    .categoriesGridItem {
      width: calc((100% - 40px-) / 2);
    }

    .categoriesGridItem:nth-child(3),
    .categoriesGridItem:nth-child(4),
    .categoriesGridItem:nth-child(8),
    .categoriesGridItem:nth-child(10) {
      width: 45%;
    }
  }
}

.allCategoriesButton {
  grid-area: button;
  margin-top: -16px;
  height: 250px;
  width: 100%;
  padding: 0 16px;
  background: var(--color-light-black, rgba(5, 5, 5, 0.9));
  color: var(--color-white, #ffffff);

  @media (min-width: 768px) {
    height: 369px;
    padding: 0px 88px;
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 340px;
    margin: 0;
  }

  @media (min-width: 1440px) {
    width: 325px;
    padding: 0px 80px;
    right: 6px;
  }
}

.allCategoriesButton:hover,
.allCategoriesButton:focus {
  background: var(--color-black, rgba(5, 5, 5, 0.9));
}