.user {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background: var(--color-light-black, rgba(5, 5, 5, 0.9));
  color: var(--color-light-black, rgba(5, 5, 5, 0.9));
  font-size: var(--font-size-h2-tablet, 24px);
  grid-area: userMenu;
  justify-self: end;
  cursor: pointer;
  user-select: none;
}

.userImage {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 30px;
  background: lightgray 50%;
}

.userName {
  color: var(--color-white, #ffffff);
  font-size: 12px;
  font-weight: 700;
  line-height: var(--line-height-body-mobile, 1.5);
  letter-spacing: var(--letter-spacing-body, -0.02em);
  text-transform: uppercase;
}

.userDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 7px 6px;
  position: relative;
}

.userButton {
  border: none;
  color: var(--color-white, #ffffff);
}

.userIcon {
  fill: none;
}

@media (min-width: 768px) {
  .userImage {
    width: 50px;
    height: 50px;
  }

  .userDetails {
    gap: 4px;
    padding: 16px 14px 16px 6px;
  }
}

.select {
  position: absolute;
  width: 122px;
  height: 72px;
  top: 46px;
  right: 0;
  z-index: 999;
  border-radius: 15px;
  padding: 16px;
  background: transparent;
  font-size: 12px;
  font-weight: 700;
  line-height: var(--line-height-body-mobile, 1.5);
  letter-spacing: var(--letter-spacing-body, -0.02em);
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    top: 58px;
    width: 148px;
    height: 74px;
  }
}

.logoutButton {
  display: flex;
  align-items: center;
  gap: 2px;

  color: var(--color-white, #ffffff);
}

.homeSelect {
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-white, #ffffff);
}

.otherPageSelect {
  border: 1px solid var(--color-gray-secondary, #d9d9d9);
  color: var(--color-light-black, rgba(5, 5, 5, 0.9));

  .logoutButton {
    color: var(--color-light-black, rgba(5, 5, 5, 0.9));
  }

  .logoutIcon {
    color: var(--color-light-black, rgba(5, 5, 5, 0.9));
  }
}