.heroSection {
  position: relative;
  background: var(--color-black, #050505);
  border-radius: var(--border-radius-small, 20px);
}

@media screen and (min-width: 768px) {
  .heroSection {
    border-radius: var(--border-radius-regular, 30px);
  }
}
