.heroSection {
  position: relative;
  background: var(--color-black, #050505);
  border-radius: var(--border-radius-small, 20px);
}

.heroContentContainer {
  padding-top: 194px;
  padding-bottom: 338px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.heroTitle {
  width: 326px;
  display: inline-block;
  margin: 0 auto;

  font-size: 40px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  color: var(--color-white, #ffffff);
  text-transform: uppercase;
}

.heroSubtitle {
  width: 326px;
  display: inline-block;
  margin: 0 auto;

  font-size: 14px;
  line-height: 1.42;
  text-align: center;

  color: #ffffffcc;
}

.heroSectionButton {
  display: inline-block;
  padding: 12px 24px;
  margin: 0 auto;
  border-radius: var(--border-radius-regular, 30px);
  background-color: transparent;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.42;
  text-align: center;
  color: var(--color-white, #ffffff);
  text-transform: uppercase;

  border: 1px solid #ffffffe5;
}

.heroImageContainer {
  position: absolute;
  top: 488px;
  left: 50%;
  transform: translate(-50%);
  width: 268px;
}

.heroLeftImageContainer {
  position: absolute;
  top: 92px;
  left: 0;
  width: 77px;
  height: 70px;

  background-image: url("../../assets/images/hero/1x/left-hero-image.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.heroRightImageContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  height: 172px;

  background-image: url("../../assets/images/hero/1x/right-hero-image.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-device-pixel-ratio: 2) {
  .heroLeftImageContainer {
    background-image: url("../../assets/images/hero/2x/left-hero-image@2x.webp");
  }

  .heroRightImageContainer {
    background-image: url("../../assets/images/hero/2x/right-hero-image@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .heroSection {
    border-radius: var(--border-radius-regular, 30px);
  }
  .heroContentContainer {
    padding-top: 218px;
    padding-bottom: 450px;
    gap: 40px;
  }

  .heroTitle {
    width: 736px;

    font-size: 70px;
    line-height: 1;
  }

  .heroSubtitle {
    width: 576px;

    font-size: var(--font-size-body, 16px);
    line-height: var(--line-height-body, 24px);
  }

  .heroSectionButton {
    font-size: var(--font-size-body, 16px);
    line-height: var(--line-height-body, 24px);
  }

  .heroImageContainer {
    top: 572px;
    width: 430px;
  }

  .heroLeftImageContainer {
    width: 128px;
    height: 116px;
  }

  .heroRightImageContainer {
    width: 302px;
    height: 273px;
  }
}

@media screen and (min-width: 1440px) {
  .heroContentContainer {
    padding-top: 154px;
    padding-bottom: 452px;
  }

  .heroTitle {
    width: 890px;

    font-size: 90px;
    line-height: 1;
  }

  .heroImageContainer {
    top: 558px;
  }
}
