.heroSection {
  position: relative;
  background: var(--color-black, #050505);
  border-radius: 20px;
}

.heroContentContainer {
  padding-top: 194px;
  padding-bottom: 338px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.heroTitle {
  width: 326px;
  display: inline-block;
  margin: 0 auto;

  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-white, #ffffff);
  text-transform: uppercase;
}

.heroSubtitle {
  width: 326px;
  display: inline-block;
  margin: 0 auto;

  font-family: Mulish;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: center;

  color: #ffffffcc;
}

.heroSectionButton {
  display: inline-block;
  padding: 12px 24px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: transparent;

  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--color-white, #ffffff);
  text-transform: uppercase;

  border: 1px solid #ffffffe5;
}

.heroImageOneContainer {
  position: absolute;
  /* top: 710px;
  left: 116px; */
  top: 580px;
  left: 26px;
  /* width: 128px;
  height: 116px; */
  width: 77px;
  height: 70px;

  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 15px;

  overflow: hidden;
  rotate: 11deg;
}

.heroImageTwoContainer {
  position: absolute;
  /* top: 570px;
  right: 116px; */
  top: 488px;
  right: 22px;
  /* width: 302px;
  height: 273px; */
  width: 190px;
  height: 172px;

  border-width: 1px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 15px;

  overflow: hidden;
  rotate: -12deg;
}

@media screen and (min-width: 768px) {
  .heroContentContainer {
    padding-top: 216px;
    padding-bottom: 451px;
    gap: 40px;
  }

  .heroTitle {
    width: 678px;

    font-size: 70px;
    line-height: 70px;
  }

  .heroSubtitle {
    width: 576px;

    font-size: 16px;
    line-height: 24px;
  }

  .heroSectionButton {
    font-size: 16px;
    line-height: 24px;
  }

  .heroImageOneContainer {
    top: 710px;
    left: 116px;

    width: 128px;
    height: 116px;
  }

  .heroImageTwoContainer {
    top: 570px;
    right: 116px;

    width: 302px;
    height: 273px;
  }
}

@media screen and (min-width: 1440px) {
  .heroTitle {
    width: 875px;

    font-size: 90px;
    line-height: 90px;
  }
}
