.subtitle {
  color: rgba(5, 5, 5, 0.8);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.28px;
}

@media (min-width: 768px) {
  .subtitle {
    width: 531px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}
