* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

form {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

/* Put footer down */
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}
