@import '~normalize.css';
@import './fonts/fonts-mulish.css';
@import './utils/container.css';
@import './utils/reset.css';
@import './utils/variables.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--main-font-family, 'Mulish',
      sans-serif);
  background-color: var(--white-color, #ffffff);
  color: var(--main-color, #050505);

  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}