body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-mobile);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body-mobile);
  letter-spacing: var(--letter-spacing-body);
  color: var(--color-body-text);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-headlines);
}

h1 {
  font-size: var(--font-size-h1-mobile);
  line-height: var(--line-height-h1-mobile);
}

h2 {
  font-size: var(--font-size-h2-mobile);
  line-height: var(--line-height-h2-mobile);
}

h3 {
  font-size: var(--font-size-h3-mobile);
  line-height: var(--line-height-h3-mobile);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 768px) {
  body {
    font-size: var(--font-size-body-tablet);
    line-height: var(--line-height-body-tablet);
  }

  h1 {
    font-size: var(--font-size-h1-tablet);
    line-height: var(--line-height-h1-tablet);
  }

  h2 {
    font-size: var(--font-size-h2-tablet);
    line-height: var(--line-height-h2-tablet);
  }

  h3 {
    font-size: var(--font-size-h3-tablet);
    line-height: var(--line-height-h3-tablet);
  }
}