:root {
  --font-family-body: "Mulish", sans-serif;

  --color-black: #050505;
  --color-black-secondary: #000000;
  --color-light-black: rgba(5, 5, 5, 0.9);
  --color-gray: #e8e8e8;
  --color-gray-secondary: #d9d9d9;
  --color-white: #ffffff;
  --color-body-text: rgba(5, 5, 5, 0.8);
  --color-body-text-light: rgba(5, 5, 5, 0.6);
  --color-border-icons-light: rgba(5, 5, 5, 0.12);

  --font-size-body-mobile: 14px;
  --font-size-body-tablet: 16px;
  --font-size-h1-mobile: 28px;
  --font-size-h1-tablet: 40px;
  --font-size-h2-mobile: 18px;
  --font-size-h2-tablet: 24px;
  --font-size-h3-mobile: 16px;
  --font-size-h3-tablet: 20px;

  --font-weight-body: 500;
  --font-weight-headlines: 800;

  --line-height-body-mobile: 1.5;
  --line-height-body-tablet: 1.43;
  --line-height-h1-mobile: 1.14;
  --line-height-h1-tablet: 1.1;
  --line-height-h2-mobile: 1.33;
  --line-height-h2-tablet: 1.17;
  --line-height-h3-mobile: 1.5;
  --line-height-h3-tablet: 1.2;

  --letter-spacing-body: -0.02em;

  --border-radius-small: 20px;
  --border-radius-regular: 30px;
  --modal-z-index: 999;
  --loader-z-index: 1000;

  --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-ease: 0.3s ease;
}
