.container {
  width: 122px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
}

.svg {
  width: 18px;
  height: 18px;
}

@media (min-width: 768px) {
  .container {
    width: 148px;
    row-gap: 6px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 148px; /* to delete */
  }
}
