.passInput {
  position: relative;
  width: 100%;
}

.showPassword {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: var(--color-black);
}

@media (min-width: 768px) {
  .showPassword {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: var(--color-black);
  }
}
