.container {
  position: relative;
  width: 100%;
}

.passInput {
  position: relative;
  width: 100%;
}

.showPassword {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 18px;
  height: 18px;
  fill: transparent;
  stroke: var(--color-black);
}

.errorMsg {
  position: absolute;
  color: var(--color-error-message);
  font-size: 12px;
  font-weight: var(--font-weight-body);
  bottom: -16px;
  left: 5%;
}

@media (min-width: 768px) {
  .showPassword {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: var(--color-black);
  }
}
