.sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.isHidden {
  visibility: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.loadingStyles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skeletonWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.skeletonList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
}

.skeletonItem {
    width: 60px;
    height: 60px;
}
.skeletonImageWrapper {
    height: 700px;
}

.skeletonImageWrapper,
.skeletonTextWrapper {
    width: 100%;
}

.skeletonImage {
    width: 100%;
    height: 100%
}

.skeletonText {
    width: 100%;
    margin-bottom: 30px;
}

@media (min-width: 1440px) {

    .skeletonWrapper {
        flex-direction: row;
    }

    .skeletonImageWrapper {
        width: 47%;
        height: 600px;
    }

    .skeletonTextWrapper {
        width: 50%;
        padding-left: 60px;
    }
}
