.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 99;
}

.authButtonsWrapper {
  display: flex;
  justify-self: end;
}

.headerContentWrapper {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding-inline: 8px;
  grid-template-areas: "logo userMenu burgerMenu";
  grid-template-columns: auto 1fr auto;
}

@media (min-width: 768px) {
  .headerContentWrapper {
    grid-template-areas: "logo nav userMenu";
    grid-template-columns: auto 1fr auto;
    padding-inline: 16px;
  }
}

@media (min-width: 1440px) {
  .headerContentWrapper {
    padding-inline: 0px;
  }
}

.homePageHeader {
  color: var(--color-white, #ffffff);
}

.headerWithoutAuth .headerContentWrapper {
  grid-template-areas: "logo authButtons";
  grid-template-columns: auto 1fr;

  align-items: center;
  justify-content: space-between;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}