.header {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 99;
}

.headerContentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 8px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .headerContentWrapper {
    padding-inline: 16px;
  }
}

@media (min-width: 1440px) {
  .headerContentWrapper {
    padding-inline: 0px;
  }
}

.homePageHeader {
  color: var(--color-white, #ffffff);
}