.user {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: rgba(5, 5, 5, 0.90);
    color: rgba(5, 5, 5, 0.90);
    font-size: 24px;
}

.userImage {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 23px 18px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 30px;
    background: lightgray 50%;

}

.userName {
    color: var(--color-white, #ffffff);
    font-size: 12px;
    font-weight: 700;
    line-height: var(--line-height-body, 1.5);
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.userDetails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 16px 14px 16px 6px;
}

.userButton {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    border: none;
    background-color: transparent;
}