.pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.paginationButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-border-icons-light);
}

.activePage {
  border: 1px solid var(--color-black);
}
