.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

.container.wide {
  padding: 0 8px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .container.wide {
    padding: 0 16px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 80px;
  }

  .container.wide {
    padding: 0 20px;
  }
}
