.footerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.footerBottom {
  padding: 40px 0 16px;
  border-top: 1px solid rgba(5, 5, 5, 0.1);
  text-align: center;
}

@media (min-width: 768px) {
  .footerBottom {
    padding-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .footerBottom {
    padding-bottom: 40px;
  }
}