.container {
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 991px) {
  .container {
    max-width: 100%;
  }
}
