.authButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--color-white, #ffffff);
}

.signInButton {
  padding: 14px 30px;
  border: none;
}

.signUpButton {
  padding: 14px 28px;
  border: none;
}

.active {
  padding: 14px 28px;
  color: var(--color-white, #ffffff);
  background: var(--color-light-black, rgba(5, 5, 5, 0.9))
}

.active:hover {
  background: var(--color-black, #050505);
}