.logo {
  display: inline-block;
  width: 69px;
  height: 24px;
  color: inherit;
  font-size: var(--font-size-h3-tablet, 20px);
  font-weight: var(--font-weight-headlines, 800);
  line-height: var(--line-height-h3-tablet, 1.2);
  letter-spacing: var(--letter-spacing-body, -0.02em);
  text-transform: lowercase;
}

@media (min-width: 768px) {
  .logo {
    width: 83px;
    height: 28px;
    font-size: var(--font-size-h2-tablet, 24px);
    line-height: var(--line-height-h2-tablet, 1.17);
  }
}
