.pageWrapper {
  padding-bottom: 64px;
}

.pageTitle {
  margin-bottom: 16px;
}

.pageDescription {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .pageWrapper {
    padding-bottom: 100px;
  }

  .pageTitle {
    margin-bottom: 20px;
  }

  .pageDescription {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .pageWrapper {
    padding-bottom: 120px;
  }
}